{% macro designExample(params) %}

{% set standaloneURL = "/api-example/" + params.condition %}

{% set endpoint = "https://api.nhs.uk/conditions/" + params.condition + "/" | safe %}
{% set javascript = "fetch('" + endpoint + "');" | highlight('javascript') | safe %}
{% set dotnet = "static readonly HttpClient client = new HttpClient();

static async Task Main()
{
  try	
  {
     string responseBody = await client.GetStringAsync(" + endpoint + ");
     Console.WriteLine(responseBody);
  }
  catch(HttpRequestException e)
  {
     Console.WriteLine(\"Exception Caught!\");	
     Console.WriteLine(\"Message :{0} \",e.Message);
  }
}
" | highlight('csharp') | safe %}

{% set snippets = [
  { name: 'Endpoint', code: endpoint },
  { name: 'JavaScript', code: javascript },
  { name: 'C#', code: dotnet }
] %}

<div class="design-example">

  <div class="code-embed">
    <iframe title="{{ params.type }}" src="{{ standaloneURL }}" frameborder="0" scrolling="yes"></iframe>
  </div>

  {# <div class="code-snippet">
      {% if snippets|length > 1 %}
          <ul class="app-tabs" role="tablist">
              {% for snippet in snippets %}
              <li class="app-tabs__item" role="presentation" data-index="ex-{{ loop.index }}">
                  <a href="" role="tab" aria-controls="example-default-open-html" data-track="tab-html" aria-selected="true">
                    {{ snippet.name }}
                  </a>
              </li>
              {% endfor %}
          </ul>
      {% endif %}

      <div class="app-tabs__container js-tabs__container" id="example-default-open-html" role="tabpanel">
        {% for snippet in snippets %}
          {% if snippets|length > 1 %}
          <div class="app-tabs__item app-tabs__item--mobile" role="presentation" data-index="ex-{{ loop.index }}">
              <a href="" role="tab" aria-controls="example-default-open-html" data-track="tab-html" aria-selected="true">
                {{ snippet.name }}
              </a>
          </div>
          {% endif %}
          <div class="code-snippet__preformatted {% if snippets|length > 1 %}js-hidden{% endif %}" data-index="ex-{{ loop.index }}">
              <a class="app-link--copy" href="" aria-live="assertive">Copy</a>
              <pre><code class="{{ snippet.language }}">
                {{- snippet.code | safe -}}
              </code></pre>
              {% if snippets|length > 1 %}
              <button class="app-link--close" href="#close" aria-live="assertive">
                Close
              </button>
              {% endif %}
          </div>
        {% endfor %}
      </div>
  </div> #}

</div>
{% endmacro %}
