<details class="nhsuk-details nhsuk-u-margin-bottom-8">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      How to use this content
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <p>There are several ways you can use the coronavirus content from the NHS website in your website, product or service.</p>
    <h3>API</h3>
    <p>Our coronavirus API allows you to integrate the coronavirus (COVID-19) information from the NHS website into your website, product or service.</p>
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Integrate API</span>
      </a>
    </div>
    <h3>Widget</h3>
    <p>Our coronavirus widget is a content box using NHS website styles that contains the latest information on coronavirus (COVID-19) from the NHS website.</p>
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Embed widget</span>
      </a>
    </div>
    <h3>Sign up for alerts when we change our symptoms content</h3>
    <p>If you want to adapt our symptoms content for your product or service, we an can alert you each time our content changes.</p><p>This can help you make sure your content is always up to date and aligned with the messaging on the NHS website.</p>
    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="#">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Sign up for alerts for our symptoms content</span>
      </a>
    </div>
  </div>
</details>