<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  COVID content community toolkit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% markdown %}
        <h1>
          <span class="nhsuk-caption-l">Coronavirus content for NHS services</span>
          Symptoms
        </h1>

        ## Available content on coronavirus symptoms
        We have 4 types of content about the symptoms of coronavirus (COVID-19).
        These are designed to be used in different contexts and across a range of products and services.

        ### Short version:
        <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
          {% markdown %}
            The main symptoms of coronavirus (COVID-19) are a high temperature, a new, continuous cough and a loss or change to your sense of smell or taste.
          {% endmarkdown %}
        </div>
        {% include('./includes/how-to-use.html') %}

        ### Expanded version:
        <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
          {{ expanded | safe }}
        </div>
        {% include('./includes/how-to-use.html') %}
        
        ### Voice-friendly version:
        <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
          {% markdown %}
            **What are the symptoms of coronavirus?**

            {{ voice | safe }}
          {% endmarkdown %}
        </div>
        {% include('./includes/how-to-use.html') %}

        ### Full version:
        <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
          {% markdown %}
            See our full page on the NHS website about [check if you have coronavirus symptoms](https://www.nhs.uk/conditions/coronavirus-covid-19/check-if-you-have-coronavirus-symptoms/#symptoms).
          {% endmarkdown %}
        </div>
        {% include('./includes/how-to-use.html') %}

        ## Where our content comes from
        Our symptoms content is based on official guidance published by Public Health England (PHE) and the office of the Chief Medical Officers (CMOs) of the UK. 
        
        It is also aligned with content used by the NHS 111 service.
        
        The content has been adapted and simplified by our content team and checked by our internal clinical team at NHS Digital.

      {% endmarkdown %}
    </div>
  </div>
{% endblock %}
