<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  COVID content community toolkit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% markdown %}
        # Coronavirus content for NHS products and services: Symptoms

        ## How we write about coronavirus symptoms
        There are 4 main ways we talk about symptoms of coronavirus (COVID-19). These are designed so they can be used in different contexts and across a range of products and services.

        ### Short version:
        > The main symptoms of coronavirus (COVID-19) are a high temperature, a new, continuous cough and a loss or change to your sense of smell or taste.
        
        ### Expanded version:
        
        {{ expanded | safe }}

        ### Voice-friendly version:
        **What are the symptoms of coronavirus?**

        {{ voice | safe }}


        ### Full version:
        See our full page on the NHS website about [check if you have coronavirus symptoms](https://www.nhs.uk/conditions/coronavirus-covid-19/check-if-you-have-coronavirus-symptoms/#symptoms).

        ### Where our content comes from
        Our symptoms content is based on official guidance published by Public Health England (PHE) and the office of the Chief Medical Officers (CMOs) of the UK, as well as content being used by the NHS 111 service.
        
        It was been adapted and simplified by our content team before being assured by our internal clinical team at NHS Digital, including our Chief Medical Officer.
        

        ## Sign up for alerts when we change our symptoms content
        If you want to adapt our symptoms content for your product or service, we an can alert you each time our content changes.

        This can help you make sure your content is always up to date and aligned with the messaging on the NHS website.
        
        {{ actionLink ({
          "href": "https://api-authentication-manager.service.nhs.uk/login",
          "text": "Sign up for alerts for our symptoms content"
        })}}
        
        ## Use our symptoms content in your product or service
        You can embed our symptoms content directly into your product or service. This content can be easily refreshed, so you always have the latest version.

        There are 2 ways to embed our content, depending on your level of technical expertise. 

        <div class="nhsuk-grid-row nhsuk-promo-group">
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            {{ promo({
              "href": "#",
              "heading": "Coronavirus symptoms widget",
              "description": "A content box using NHS website styles you can embed using a small piece of code.",
              "class": "nhsuk-grid-column-one-half"
            }) }}
          </div>
          <div class="nhsuk-grid-column-one-half nhsuk-promo-group__item">
            {{ promo({
              "href": "#",
              "heading": "Coronavirus symptoms API",
              "description": "Content you can integrate into your service and add your own styles. Requires technical expertise.",
              "class": "nhsuk-grid-column-one-half"
            }) }}
          </div>
        </div>
  
        You can also embed our full coronavirus content using a widget or API, if you want to use more than our symptoms content.

      {% endmarkdown %}
    </div>
  </div>
{% endblock %}
