<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  COVID content community toolkit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>COVID content community toolkit</h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod et nulla vel mattis. Donec venenatis, mauris a aliquet accumsan, velit justo eleifend sapien, in suscipit elit turpis gravida sapien. Sed at mauris at odio lacinia tincidunt vel vel felis. Vivamus accumsan malesuada ullamcorper. Curabitur ultricies est ac aliquam placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean vulputate ipsum turpis, ut fringilla quam luctus non. Maecenas ornare, magna nec pretium aliquet, ex lorem fermentum metus, id auctor neque ligula in quam. Sed posuere magna ut dolor semper elementum. Aliquam imperdiet posuere ex, et placerat velit.</p>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
