<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  COVID content community toolkit
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% markdown %}
        <h1>
          <span class="nhsuk-caption-l">Coronavirus (COVID-19) content toolkit</span>
          How to write about self-care for coronavirus
        </h1>
        <div class="nhsuk-inset-text">
          {% markdown %}
            [NHS coronavirus self-care content](https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/how-to-treat-coronavirus-symptoms-at-home/) last updated: **28 May 2020**.
          {% endmarkdown %}
        </div>

        ## NHS content on coronavirus self-care

        We have 4 types of content about self-care for coronavirus (COVID-19). These are designed to be used in different contexts and across a range of products and services.


        ### Short version:

        <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
          {% markdown %}
            While you’re staying at home with coronavirus (COVID-19), you can ease your symptoms by resting, drinking plenty of fluids and taking painkillers.
          {% endmarkdown %}
        </div>

        This content is best when space is limited – for example, a tweet or text message. It contains all the key information in fewer than 150 characters.

        {% include('./includes/how-to-use.html') %}


        ### Expanded version:

        <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
          {% markdown %}
            If you have mild symptoms of coronavirus, you must stay at home (self-isolate) and get a test.

            To help yourself stay well:

            - drink plenty of water to stay hydrated – drink enough so your pee is pale and clear
            - take paracetamol to help ease your symptoms
            - stay in touch with family and friends over the phone or on social media, to help you avoid feeling low or lonely
            - try to keep yourself busy – you could try activities like cooking, reading, online learning and watching films
            - do light exercise, if you feel well enough to
          {% endmarkdown %}
        </div>

        This content may be better if you have more space – for example, in an app or embedded within a web page. It provides more detail to help users understand if they have coronavirus symptoms.

        {% include('./includes/how-to-use.html') %}

        
        ### Voice-friendly version:

        <div class="nhsuk-panel nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
          {% markdown %}
            **How can I treat the symptoms of coronavirus?**

            To help yourself stay well while you're at home with coronavirus: get lots of rest and sleep, take paracetamol or ibuprofen if you feel uncomfortable, and drink plenty of water to avoid dehydration – drink enough so your pee is light yellow and clear.
          {% endmarkdown %}
        </div>

        This content is suited for voice assistants and chatbots. It provides similar detail to the expanded version, but with a voice-friendly structure – for example, by avoiding bullet points.

        {% include('./includes/how-to-use.html') %}


        ### Full version:

        See our full page on the NHS website about [how to treat coronavirus symptoms at home](https://www.nhs.uk/conditions/coronavirus-covid-19/what-to-do-if-you-or-someone-you-live-with-has-coronavirus-symptoms/how-to-treat-coronavirus-symptoms-at-home/). 

        This content is best if you have space for a full web page of content and want your users to know all the information and advice on coronavirus symptoms.


        {% include('./includes/how-to-use.html') %}

        
        ## Where our content comes from

        Our content on people at higher risk from coronavirus is based on official guidance from Public Health England (PHE), the office of the UK Chief Medical Officers (CMOs) and NHS Digital.

        The content has been adapted and simplified by our content team and checked by the clinical team at NHS Digital.

        Original guidance:

        - [GOV.UK: Stay at home guidance for households with possible coronavirus (COVID-19) infection](https://www.gov.uk/government/publications/covid-19-stay-at-home-guidance/stay-at-home-guidance-for-households-with-possible-coronavirus-covid-19-infection) (last updated 28 May 2020)
        - [NICE: COVID-19 rapid guideline – managing symptoms (including at the end of life) in the community](https://www.nice.org.uk/guidance/ng163) (last update 3 April 2020)

        ## How to write for NHS services

        For general information and advice about how to write content for digital NHS services, see the [NHS digital service manual content style guide](https://service-manual.nhs.uk/content).

      {% endmarkdown %}
    </div>
  </div>
{% endblock %}
