.code-embed {
  background-color: $color_nhsuk-grey-5;
  border: 1px solid $color_nhsuk-grey-3;

  iframe {
    display: block;
    width: 100%;
    height: 300px;
  }

  + .code-snippet {
    margin-top: -1px;
  }
}
